body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* botões iniciar, finalizar e limpar */
.btn_game {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    margin: 2px;
    border: 1px solid black;
    border-radius: 0%;
    box-shadow: 1px 1px 1px black;
    font-size: 18px;
    font-family: 'Courier New', Courier, monospace;
    cursor: pointer;
}
.btn_game:hover {
    background-color: rgb(44, 44, 44);
}
.alt_btn_start{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    margin: 2px;
    border: 0;
    box-shadow: 0px 0px 0px white;
    font-size: 25px;
    font-weight: bold;
    cursor: auto;
}
.alt_btn_start:hover {
    background-color: white;
}

/* div players */
#div_players_p{
    position: relative;
    width: 50vw;
    display: flex;
    font-size: 14px;
    font-family: 'Courier New', Courier, monospace;
}
#p1 {
    padding-left: 15px;
}
#p2 {
    position: absolute;
    right: 0.1px;
}
#div_players {
    width: 50vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* player - usuário */
#div_p1 {
    display: grid;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
#div_p1 button {
    background-color: white;
    border: 0;
    cursor: pointer;
}
#div_p1 img {
    width: 60px;
    height: 60px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 30%;
}
#div_p1 img:hover {
    background-color: rgb(224, 224, 224);
}

/* player - computador */
#div_p2 img{
    width: 60px;
    height: 60px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 30%;
}

/* resultados */
#div_results{
    width: 40vw;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-top: 50px;
}
#vitorias, #derrotas, #empates{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 15px;
    font-family: 'Courier New', Courier, monospace;
}
#vitorias p{
    color: rgb(25, 210, 25);
    font-weight: bold;
}
#empates p{
    color: rgb(22, 86, 204);
    font-weight: bold;
}
#derrotas p{
    color: rgb(204, 22, 22);
    font-weight: bold;
}
#final_result, #count_jogadas{
    text-align: center;
    font-size: 18px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}